@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
* {
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

.main {
    min-height: 100vh;
    position: relative;
    width: 100%;
    background: #021d38;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .image-container {
    padding: 10px;
}

.main .image-container .image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .image-container .image img {
    width: 1000px;
    align-items: center;
}

.main .image-container h1 {
    color: #19a5bb;
    text-align: center;
    margin-bottom: 15px;
    font-size: 40px;
}

.main .image-container p {
    color: #19a5bb;
    text-align: center;
    margin-bottom: 40px;
}

.main .input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 50px;
    border-radius: 20px;
    background: rgba(78, 116, 191, 0.5);
}

.main .input .talk {
    background: transparent;
    outline: none;
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}

.main .input .talk i {
    font-size: 20px;
    color: #9bb0c5;
}

.main .input .content {
    color: #acd90a;
    font-size: 15px;
    margin-right: 20px;
}

body{
    background-attachment: fixed;
}

body{
    background-attachment: fixed;
}